---

---

@import "{{site.theme}}";

.btn-about .icon {
    opacity: .6;
    background: url("../images/book.png") 0 0 no-repeat;
}

.container .sidebar {
    margin-bottom: 30px;
    margin-top: 1%;
    text-align: center;
    position: absolute;
    right: 0px;
}

#main_content {
    display: inline-block;
}
