---

---

@import "{{site.theme}}";

.btn-about .icon {
    opacity: .6;
    background: url("../images/book.png") 0 0 no-repeat;
}

.container .sidebar {
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: 0px;
}
